@font-face {
  font-family: 'polpo';
  src:
    url('fonts/polpo.ttf?3fs6vu') format('truetype'),
    url('fonts/polpo.woff?3fs6vu') format('woff'),
    url('fonts/polpo.svg?3fs6vu#polpo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="polpo-"], [class*=" polpo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'polpo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.polpo-beeld:before {
  content: "\e97d";
}
.polpo-beeld-lg:before {
  content: "\e97e";
}
.polpo-comment-question:before {
  content: "\e97a";
}
.polpo-comment-suggestion:before {
  content: "\e97b";
}
.polpo-comment-typo:before {
  content: "\e97c";
}
.polpo-mens-en-samenleving:before {
  content: "\e978";
}
.polpo-mens-en-samenleving-lg:before {
  content: "\e979";
}
.polpo-polpo-small:before {
  content: "\e977";
}
.polpo-archive-box-lg:before {
  content: "\e976";
}
.polpo-archive-box:before {
  content: "\e975";
}
.polpo-algebrakit:before {
  content: "\e974";
}
.polpo-increase-lg:before {
  content: "\e973";
}
.polpo-timeline:before {
  content: "\e972";
}
.polpo-groups:before {
  content: "\e96f";
}
.polpo-user-del:before {
  content: "\e96d";
}
.polpo-user-add:before {
  content: "\e96e";
}
.polpo-checkmark:before {
  content: "\e966";
}
.polpo-delete:before {
  content: "\e967";
}
.polpo-user-exception:before {
  content: "\e969";
}
.polpo-hourglass:before {
  content: "\e96b";
}
.polpo-lock:before {
  content: "\e96c";
}
.polpo-biologie-lg:before {
  content: "\e951";
}
.polpo-duits-lg:before {
  content: "\e952";
}
.polpo-engels-lg:before {
  content: "\e953";
}
.polpo-frans-lg:before {
  content: "\e954";
}
.polpo-fysica-lg:before {
  content: "\e955";
}
.polpo-geschiedenis-lg:before {
  content: "\e956";
}
.polpo-godsdienst-lg:before {
  content: "\e957";
}
.polpo-informatica-lg:before {
  content: "\e958";
}
.polpo-integraleopdrachten-lg:before {
  content: "\e959";
}
.polpo-lichamelijkeopvoeding-lg:before {
  content: "\e95a";
}
.polpo-maatschappelijkevorming-lg:before {
  content: "\e95b";
}
.polpo-muzikaleopvoeding-lg:before {
  content: "\e95c";
}
.polpo-natuurwetenschappen-lg:before {
  content: "\e95d";
}
.polpo-nederlands-lg:before {
  content: "\e95e";
}
.polpo-sociaaleconomischeinitiatie-lg:before {
  content: "\e95f";
}
.polpo-spaans-lg:before {
  content: "\e960";
}
.polpo-aardrijkskunde-lg:before {
  content: "\e961";
}
.polpo-techniek-lg:before {
  content: "\e962";
}
.polpo-wiskunde-lg:before {
  content: "\e963";
}
.polpo-ww-lg:before {
  content: "\e964";
}
.polpo-verwijder:before {
  content: "\e950";
}
.polpo-lesmateriaal:before {
  content: "\e94f";
}
.polpo-filter:before {
  content: "\e94d";
}
.polpo-add:before {
  content: "\e94e";
}
.polpo-archive:before {
  content: "\e937";
}
.polpo-bundles:before {
  content: "\e938";
}
.polpo-book:before {
  content: "\e965";
}
.polpo-book-not:before {
  content: "\e939";
}
.polpo-favorites2:before {
  content: "\e93a";
}
.polpo-favorites:before {
  content: "\e93b";
}
.polpo-game:before {
  content: "\e93c";
}
.polpo-klok:before {
  content: "\e93d";
}
.polpo-clock2:before {
  content: "\e93e";
}
.polpo-cancel:before {
  content: "\e93f";
}
.polpo-media:before {
  content: "\e940";
}
.polpo-music:before {
  content: "\e941";
}
.polpo-eye2:before {
  content: "\e942";
}
.polpo-eye:before {
  content: "\e943";
}
.polpo-presentatie:before {
  content: "\e944";
}
.polpo-student2:before {
  content: "\e945";
}
.polpo-taak:before {
  content: "\e946";
}
.polpo-tasks:before {
  content: "\e947";
}
.polpo-tasks-complete:before {
  content: "\e948";
}
.polpo-video:before {
  content: "\e949";
}
.polpo-check-on:before {
  content: "\e94a";
}
.polpo-check-off:before {
  content: "\e94b";
}
.polpo-website:before {
  content: "\e94c";
}
.polpo-aardrijkskunde:before {
  content: "\e923";
}
.polpo-biologie:before {
  content: "\e924";
}
.polpo-duits:before {
  content: "\e925";
}
.polpo-engels:before {
  content: "\e926";
}
.polpo-frans:before {
  content: "\e927";
}
.polpo-fysica:before {
  content: "\e928";
}
.polpo-geschiedenis:before {
  content: "\e929";
}
.polpo-godsdienst:before {
  content: "\e92a";
}
.polpo-informatica:before {
  content: "\e92b";
}
.polpo-integraleopdrachten:before {
  content: "\e92c";
}
.polpo-lichamelijkeopvoeding:before {
  content: "\e92d";
}
.polpo-maatschappelijkevorming:before {
  content: "\e92e";
}
.polpo-muzikaleopvoeding:before {
  content: "\e92f";
}
.polpo-natuurwetenschappen:before {
  content: "\e930";
}
.polpo-nederlands:before {
  content: "\e931";
}
.polpo-sociaaleconomischeinitiatie:before {
  content: "\e932";
}
.polpo-spaans:before {
  content: "\e933";
}
.polpo-techniek:before {
  content: "\e934";
}
.polpo-wiskunde:before {
  content: "\e935";
}
.polpo-ww:before {
  content: "\e936";
}
.polpo-at-sign:before {
  content: "\e900";
}
.polpo-split-arrow:before {
  content: "\e901";
}
.polpo-increase:before {
  content: "\e902";
}
.polpo-alert:before {
  content: "\e903";
}
.polpo-power-on:before {
  content: "\e904";
}
.polpo-creditcard:before {
  content: "\e905";
}
.polpo-marker:before {
  content: "\e906";
}
.polpo-pin:before {
  content: "\e906";
}
.polpo-bundle:before {
  content: "\e907";
}
.polpo-open:before {
  content: "\e908";
}
.polpo-student:before {
  content: "\e909";
}
.polpo-play:before {
  content: "\e90a";
}
.polpo-add-user:before {
  content: "\e90b";
}
.polpo-call:before {
  content: "\e90c";
}
.polpo-laptop-text:before {
  content: "\e90d";
}
.polpo-balance:before {
  content: "\e90e";
}
.polpo-checklist:before {
  content: "\e90f";
}
.polpo-favorite:before {
  content: "\e910";
}
.polpo-share:before {
  content: "\e911";
}
.polpo-phone:before {
  content: "\e912";
}
.polpo-laptop-images:before {
  content: "\e913";
}
.polpo-clock:before {
  content: "\e914";
}
.polpo-task:before {
  content: "\e915";
}
.polpo-school:before {
  content: "\e916";
}
.polpo-university:before {
  content: "\e916";
}
.polpo-magnifier:before {
  content: "\e917";
}
.polpo-search:before {
  content: "\e917";
}
.polpo-print:before {
  content: "\e918";
}
.polpo-laptop-content:before {
  content: "\e919";
}
.polpo-code:before {
  content: "\e91a";
}
.polpo-edit:before {
  content: "\e91b";
}
.polpo-presentation:before {
  content: "\e91c";
}
.polpo-caret:before {
  content: "\e91d";
}
.polpo-polpo:before {
  content: "\e91e";
}
.polpo-die-keure:before {
  content: "\e91f";
}
.polpo-facebook:before {
  content: "\e920";
}
.polpo-twitter:before {
  content: "\e921";
}
.polpo-pinterest:before {
  content: "\e922";
}
.polpo-youtube:before {
  content: "\e971";
}
.polpo-s_logo_sso_button_orange_22x36:before {
  content: "\e968";
  color: #ff520e;
}
.polpo-s_logo_sso_button_orange_22x362:before {
  content: "\e96a";
  color: #fff;
}
.polpo-send:before {
  content: "\e970";
}
